@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  text-align: center;

  background: linear-gradient(to right, #ffffff, $primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-container {
  padding-top: 40px;
}

.error-message {
  color: $error;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}